/* CORES PRINCIPAIS */
:root {
  --primary-color: #003459;
  --secondary-color: #007ea7;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #00a8e8;
  --light-color: #f8f9fa;
  --dark-color: #00171f;
  --background-color: #f8f9fa;
}


/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;
}

/* Set default text color */
p, span, a {
  color: var(--dark-color);
}

/* Set default link styles */
a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

#sairBtn {
  border: none;
  background: none;
  color: red;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

/* Set default heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

/* Styles para botão */
.btn {
  background-color: var(--secondary-color);
  color: var(--light-color);
  font-size: .9rem;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* Feed Card */
.mainSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  /* Tamanho da coluna para telas maiores que tablet */
  @media (min-width: 1195px) {
    grid-template-columns: 70% 30%;
  }
}

#monitores {
  grid-column: 1 / 2; /* Ocupa a primeira coluna no grid */

  /* Altera a ordem para colocar abaixo em telas menores que tablet */
  @media (min-width: 1195px) {
    grid-column: 2 / 3; /* Ocupa a segunda coluna no grid */
    grid-row: 1 / 2; /* Fica na mesma linha que o container */
  }

}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 1 / 2;
}

.custom-container {
  flex: 1;
  flex-wrap: wrap;
  height: 340px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.cover-image {
  height: 10rem;
  border-radius: 10px;
  padding: 0;
}

.for-cover-image {
  object-fit: cover; 
  width: 100%; 
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.profile-image-container {
  border-radius: 12px;
  height: 100px;
  position: absolute;
  left: 6px;
  top: 105px;
  order: 2
}

.profile-image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 2px solid var(--light-color);
}

.profile-display {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.profile-button {
  margin-top: 16px;
}

.searchBox {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 30px;
  border: none !important;
  background-color: var(--light-color);
  margin-left: 50px;
  width: 40%;
}


.post {
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-color);
  padding: 10px;
  background-color: var(--light-color);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1195px) {
    width: 80%;
  }
}

.monitor {
  display: flex;
}

.monitorInfo {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.monitorImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.monitorNome {
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.aprovamMonitor {
  margin: 0;
  font-size: .8rem;
}

.postImageContainer {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.materia {
  margin: 0;
  font-size: .8rem;
  padding: 8px;
  font-weight: bold;
}

.materiaNome {
  color: var(--secondary-color);
}

.disponibilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 8px;
  border-top: .8px solid var(--secondary-color);
  border-bottom: .8px solid var(--secondary-color);
}

.disponibilidadeNome {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 0;
}

.agendar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.agendar,
.agendarLink {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.agendarLink :hover {
  color: var(--warning-color);
}

.agendarNome {
  color: var(--primary-color);
  margin: 0;
  margin-right: 5px;
}

.notFound {
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-folder-open {
  margin-left: 5px;
}

.monitorInfoIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.deletePost {
  color: var(--danger-color);
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.list-group-item {
  display: flex;
  border: none;
}

.list-group-item:hover {
  background-color: var(--light-color);
}

.monitor-image-container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.monitor-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.nome-mat-div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.info {
  display: flex;
  width: 100%;
  position: relative;
}

.ver-btn {
  margin-left: 10px;
  color: var(--primary-color);
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

.ver-btn:hover {
  color: var(--warning-color);
}

.card-header {
  color: var(--primary-color);
}

.navbarclass {
  display: flex;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.detalhesUser {
  cursor: pointer;
}

.detalhesUser:hover {
  color: var(--warning-color);
}
/* Media Queries */

@media (min-width: 768px) {

  body {
    margin: 50px;
  }

  .profile-container {
    left: 22px;
  }

}
