/* CORES PRINCIPAIS */
:root {
  --primary-color: #003459;
  --secondary-color: #007ea7;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #00a8e8;
  --light-color: #f8f9fa;
  --dark-color: #00171f;
  --background-color: #f8f9fa;
}


/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;
}

/* Set default text color */
p, span, a {
  color: var(--dark-color);
}

/* Set default link styles */
a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

/* Set default heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  color: var(--primary-color);
}

main {
 margin-bottom: 50px;
}

/* Styles para botão */
.btn {
  background-color: var(--secondary-color);
  color: var(--light-color);
  font-size: .9rem;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  background-color: var(--light-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  margin: 0 auto;
  width: 80%;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  margin: 0 auto;
  width: 80%;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.email:hover{
  color: var(--secondary-color);
}

.nomeFuncao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aluno {
  margin-left: 5px;
  color: var(--warning-color);
}

.monitor {
  margin-left: 5px;
  color: var(--success-color);
}

.postagem {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.postTitle {
  color: var(--light-color);
}

.mainSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  /* Tamanho da coluna para telas maiores que tablet */
  @media (min-width: 1195px) {
    grid-template-columns: 70% 30%;
  }
}

.monitor {
  display: flex;
}

.monitorInfo {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.monitorImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.monitorNome {
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.aprovamMonitor {
  margin: 0;
  font-size: .8rem;
}

.postImageContainer {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.materia {
  margin: 0;
  font-size: .8rem;
  padding: 8px;
  font-weight: bold;
}

.materiaNome {
  color: var(--secondary-color);
}

.disponibilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 8px;
  border-top: .8px solid var(--secondary-color);
  border-bottom: .8px solid var(--secondary-color);
}

.disponibilidadeNome {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 0;
}

.agendar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.agendar,
.agendarLink {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.agendarNome {
  color: var(--primary-color);
  margin: 0;
  margin-right: 5px;
}

.notFound {
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-folder-open {
  margin-left: 5px;
}

.monitorInfoIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.deletePost {
  color: var(--danger-color);
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.list-group-item {
  display: flex;
  border: none;
}

.list-group-item:hover {
  background-color: var(--light-color);
}

.monitor-image-container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.monitor-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.nome-mat-div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.info {
  display: flex;
  width: 100%;
  position: relative;
}

.ver-btn {
  margin-left: 10px;
  color: var(--primary-color);
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

.ver-btn:hover {
  color: var(--warning-color);
}

.card-header {
  color: var(--primary-color);
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.titulo {
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* Media Queries */

@media (min-width: 768px) {

  body {
    margin: 50px;
  }

  .profile-container {
    left: 22px;
  }

}


/* Media Queries */
@media (min-width: 768px) {

  body {
    margin: 50px;
  }

  .profile-container {
    left: 22px;
  }

}
